// Site header

.site-header {
	padding: 2rem 1rem 1rem;

	&.featured-image {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 90vh;

		.site-branding-container {
			margin-bottom: auto;
		}
	}

	@include media(tablet) {
		margin: 0;
		padding: 2rem 0 1rem;

		&.featured-image {
			min-height: 100vh;
			margin-bottom: 3rem;
		}
	}
}

// Site branding

.site-branding {

	align-items: center;
	color: $color__text-dark;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;

	@include media(tablet) {
		margin: 0 $size__site-margins;
	}
}

// Site logo

.site-logo {
	margin-right: $size__spacing-unit;

	.custom-logo-link {

		box-sizing: content-box;
		overflow: hidden;

		.custom-logo {
			display: block;
			max-height: 60px;
			width: auto;
		}
	}
}

// Site title

.site-title {

	color: $color__text-main;
	flex: 1 1 auto;
	margin: calc(#{$size__spacing-unit} / 2 ) $size__spacing-unit calc(#{$size__spacing-unit} / 2 ) 0;

	a {
		color: $color__text-dark;

		&:link,
		&:visited {
			color: $color__text-dark;
		}

		&:hover {
			color: $color__text-hover;
		}
	}

	.featured-image & {
		margin: 0;

		@include media(tablet) {
			display: inline-block;
		}
	}
}

// Site description

.site-description {

	flex: initial;
	color: $color__text-dark;
	font-size: $font__size-xs;
	font-weight: normal;
	margin: calc(#{$size__spacing-unit} / 2 ) 0;
}
